{% extends 'base.html.twig' %}

{% block title %}Characters{% endblock %}

{% block body %}
<main>
    <h2>Characters</h2>
    <ul class="list">
        {% for character in characters %}
            <li>
                <a href="{{ path('character_edit', {characterId: character.id}) }}">
                    {{ character.name }}
                </a>
                <form class="list-delete" action="{{ path('character_delete', {characterId: character.id}) }}" method="delete">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}